@charset "utf-8";

#profile h3{
	margin-top: -3px;
}

.award-wrap a{
	color: #545454;
	text-decoration: none;
}

.badge{
	color: white;
	border-radius: 5px;
	background-color: #353535;
	width: 100px;
	height: 20px;
	text-align: center;
	font-size: 14px;
	margin-right: 8px;
}

#services .text p{
	margin-bottom: 3px;
}

.portfolio-img{
	width: 360px;
	height: 240px;
}